body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    border: 1px solid black;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > a > li {
    padding: 10px;
}

.logo {
    width: 100px;
}

.footer {
    border: 1px solid yellow;
    background-color: black;
    margin: 40px;
}

.footer > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.footer > ul > a > li {
    padding: 10px;
    color: white;
}

.cards {
    margin: 40px;
    border: 1px solid black;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    margin: 10px;
}

.card-image {
    width: 100%;
}

a:link {
    text-decoration: none;
}

.search-bar {
    margin: 40px;
    text-align: center;
}